*{
    margin: 0;
    
}
body {
    background-image: url("/home/elias/Imágenes/dark-wood.jpg");
}

form {
    margin: 10%
}

fieldset {
    margin: 10%;
    text-align: center;
    border: 8px double black;
    color:#fff;
    font-weight: bold;
    
}
legend {
   font-weight: bold;
   color: floralwhite;

}
 .firstname {
 
 text-align: center;
 font-weight: bold;
 }

 .lastname {
     text-align: center;
     font-weight: bold;
 }
 
 .id {
     text-align: center;
     font-weight: bold;
 }

 .address {
    text-align: center;
    font-weight: bold;
 }

 .email {
    text-align: center;
    font-weight: bold;
 }

 .cellphone {
    text-align: center;
    font-weight: bold;
 }